<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hồ sơ cá nhân</title>
</head>
<body>
<nav>
    <a th:href="@{/dashboard/profile}">Hồ sơ cá nhân</a> |
    <a href="#">Quản lý Nhóm</a> |
    <a href="#">Quản lý Hợp đồng</a> |
    <a th:href="@{/login}">Đăng xuất</a>
</nav>
<hr>
<h1>Hồ sơ cá nhân</h1>
<form>
    <div>
        <label for="fullName">Họ và tên:</label>
        <input type="text" id="fullName" th:value="${fullName}">
    </div>
    <br>
    <div>
        <label for="nationalId">Số CMND/CCCD:</label>
        <input type="text" id="nationalId" th:value="${nationalId}">
    </div>
    <br>
    <div>
        <label for="phoneNumber">Số điện thoại:</label>
        <input type="text" id="phoneNumber" th:value="${phoneNumber}">
    </div>
    <br>
    <button type="submit">Cập nhật hồ sơ</button>
</form>
</body>
</html>